<section class="meta">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Content</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{!-- {{> post-info post}} --}}
      <article class="post">
  <div class="title">
    <a href="/dashboard/edit/{{post.id}}">{{title}}</a>
    {{!-- <span>({{format_url post_url}})</span> --}}
    by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="meta">
    <span>{{post_url}}</span>
    {{!-- {{vote_count}} {{format_plural "point" vote_count}}  --}}
    {{!-- by {{user.username}} on {{format_date created_at}} --}}
    {{!-- |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>